<footer>
    <div class="footer-bg">
        <div class="footer-content">
            <div class="footer-left">
               <a routerLink="/imprint">Imprint</a>
               -
               <a routerLink="/data-protection">Legal Notice</a>
            </div>
            <div class="footer-icons">
                <a href="https://www.linkedin.com/in/alexander-gildenstern-651989223/"><img src="assets/img/linkedin-box-fill.png" alt="linkedin"></a>
                <a href="https://github.com/AlexanderGildenstern"><img src="assets/img/github-fill.png" alt="github"></a>
                <a href="https://www.xing.com/profile/Alexander_Gildenstern/cv"><img src="assets/img/xing-fill.png" alt="xing"></a>
            </div>
        </div>
    </div>
</footer>