<div id="about" class="about-me-bg">
    <div class="about-me-container">
        <div class="about-me-top">
            <div class="about-me-img">
                <img src="assets/img/me.jpg" alt="">
            </div>
            <div class="about-me-text">
                <h2>About me.</h2>
                <p>" I`m enthusiastic about sports and front-end developer who loves pushing boundaries "</p>
            </div>
        </div>
        <hr>
        <div class="about-me-bottom">
            <div class="icons-container">
                <div class="icons">
                    <img src="assets/img/walk-line.png" alt="walk-image">
                </div>
                <h3>MY JORNAY BEGAN</h3>
                <p>With my own website for my wife. I created with WordPress.</p>
            </div>
            <div class="icons-container">
                <div class="icons">
                    <img src="assets/img/heart-line.png" alt="heart-image">
                </div>
                <h3>FALL IN LOVE</h3>
                <p>I fell in love with software development</p>
            </div>
            <div class="icons-container">
                <div class="icons">
                    <img src="assets/img/search-line.png" alt="search-image">
                </div>
                <h3>I SEARCHED MORE</h3>
                <p>I wanted more and found the Developer Academy</p>
            </div>
            <div class="icons-container">
                <div class="icons">
                    <img src="assets/img/flight-takeoff-line.png" alt="fly-image">
                </div>
                <h3>NEW CHALLENGES</h3>
                <p>And now I'm looking for new projects as a software developer</p>
            </div>
        </div>
    </div>

</div>