.about-me-bg {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;

    img {
        width: 35rem;
        height: 30rem;
        object-fit: cover;
        margin: 70px 20px 0 20px;
    }
    hr {
        margin: 70px 120px;
        border-color: #2dfcd8;
        height: 1px;
        background-color: #2dfcd8;
    }
}

.about-me-top {
    display: flex;
    justify-content: center;
    color: white;

    img {
        object-position: top;
        border-radius: 100%;
        width: 250px;
        height: 250px;
        margin-right: 50px;
    }
}
.about-me-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.about-me-text {
    width: 50%;
    margin-top: 40px;
    p {
        padding: 0px 120px 0px 50px;
        text-align: center;
    }
}
.icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 50px 150px 50px;
    display: flex;
    img {
        padding: 20px;
        width: 32px;
        height: 32px;
        background-color: #2dfcd8;
        border-radius: 100%;
    }
    p {
        width: 200px;
        text-align: center;
    }
}
.about-me-bottom{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 800px){
    
    .about-me-top{
        display: block;

        .about-me-img{
            justify-content: center;
            width: 100vw;
        }

        img{
            margin: 75px 0 20px 0;
        }
        .about-me-text{
            width: 100vw;
            p{
                padding: 0px 20px 0px 20px;
            }
        }
    }
    .about-me-container{
        hr{
            margin: 50px 20px 0 20px;
        }
    }
    .about-me-bottom{
        padding-bottom: 30px;
        display: block;

        .icons-container{
            margin: 0 20px;
        }
        .about-me-bg{
            margin: 40px 20px 0 20px;
        }
        p{
            width: calc(100vw - 40px);
        }
        img{
            margin: 50px 20px 0 20px;
        }
    }
}