<div class="main-start-bg">
    <div class="main-start-container">
        <div class="main-start-text">
            <div class="main-h1-container">
                <h1>Hi,<br>I´m <span class="primary">Alexander</span> Gildenstern<br>
                    Full Stack Develop<span class="secondary">e</span>r</h1>
            </div>
            <div class="btn-container">
                <button class="btn-secondary">Contact me</button>
            </div>
        </div>
        <div>
            <img class="img-me" src="assets/img/me.jpg">
        </div>
    </div>

    <div class="arrow-down">
        <!-- <button (click)="scrollTo.emit(null)"><img src="assets/img/arrow-down.png" alt="arrow-down"></button> -->
        <a href="#mySkills"><img src="assets/img/arrow-down.png" alt="arrow-down"></a>
    </div>
</div>