<div class="main-start-bg">
    <div class="main-start-container">
        <div class="main-start-text">
            <div>
                <h1>Hi,<br>I´m <span class="primary">Alexander</span> Gildenstern<br>
                    Front End Develop<span class="secondary">e</span>r</h1>
            </div>
            <div>
                <button class="btn-secondary">Contact me</button>
            </div>
        </div>
        <div>
            <img class="img-me" src="assets/img/me.jpg">
        </div>
    </div>

    <div class="arrow-down">
        <a href="#mySkills"><img  src="assets/img/arrow-down.png" alt="arrow-down"></a>
    </div>
</div>