<div id="myWork" class="my-work-bg">
    <h2>My work</h2>
    <div class="my-work-btn">
        <div class="btns-left">
            <button class="btn-primary">All</button>
            <button class="btn-primary">Angular</button>
        </div>
        <div class="btns-right">
            <button class="btn-primary">Java Script</button>
            <button class="btn-primary">Wordpress</button>
        </div>
    </div>
    <div>
        <img src="assets/img/code.jpg" alt="">
        <img src="assets/img/code.jpg" alt="">
    </div>
    <div>
        <img src="assets/img/code.jpg" alt="">
        <img src="assets/img/code.jpg" alt="">
    </div>
</div>