<header [class.headerDark]="darkMode">

    <img *ngIf="!darkMode" routerLink="/" src="assets/img/logo.png" alt="logo">

    <!-- *ngIf if abfrage, weißes logo wird nur angezeigt wenn kein darkmode ist.  -->
    <img *ngIf="darkMode" routerLink="/" src="assets/img/logo-black.png" alt="logo">

    <div [class.darkLinks]="darkMode" class="menu-links">
        <!-- div container bekommt die classe darkLinks, wenn darkMode true ist -->
        <a [class.primary]="!darkMode" routerLink="/">Home</a>
        <a href="#about">About</a>
        <a href="#myWork">Portfolio</a>
        <!-- <a routerLink="/data-protection">Data-Protection</a>
        <a routerLink="/imprint">Imprint</a> -->
    </div>
    
    <!-- White Burger menu -->
    <div (click)="snav.toggle()" class="burger">
        <div class="line1"></div>
        <div class="line2"></div>

        <mat-sidenav-container >
            <mat-sidenav #snav mode="side" [fixedInViewport]="true" position="end">
                <mat-nav-list>
                    <a #snav mode="side" mat-list-item>Close</a>
                    <a href="#home" mat-list-item>HOME</a>
                    <a href="#mySkills" mat-list-item>SKILLS</a>
                    <a href="#myWork" mat-list-item>MY WORK</a>
                    <a href="#about" mat-list-item>ABOUT</a>
                </mat-nav-list>
            </mat-sidenav>
        </mat-sidenav-container>

    </div>

    <!-- Black Burger menu -->
    <div *ngIf="darkMode" (click)="snav.toggle()" class="burger-black">
        <div class="line1"></div>
        <div class="line2"></div>

        <mat-sidenav-container>
            <mat-sidenav #snav mode="side" [fixedInViewport]="true" position="end">
                <mat-nav-list>
                    <a #snav mode="side" mat-list-item>Close</a>
                    <a  href="#home" mat-list-item>HOME</a>
                    <a href="#mySkills" mat-list-item>SKILLS</a>
                    <a href="#myWork" mat-list-item>MY WORK</a>
                    <a href="#about" mat-list-item>ABOUT</a>
                </mat-nav-list>
            </mat-sidenav>
        </mat-sidenav-container>

    </div>


</header>