.contact-me-bg {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #757575;

    textarea, input {
        color: #ffffff;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 700px;
        color: white;
        sup{
            color: #fa2759;
        }
        label{
            padding: 16px 0;
            font-size: 16px;
        }

        input {
            height: 40px;
            background-color: #1a1a1a;
            border-color: #1a1a1a;
            font-size: 16px;
            padding-left: 16px;
            transition: 125ms all ease-in-out;
            &:hover {
                border-left-color: #fa2759;
                border-bottom-color: #fa2759;
                transition: 125ms all ease-in-out;
            }
        }

        textarea {
            background-color: #1a1a1a;
            border-color: #1a1a1a;
            font-size: 16px;
            padding-left: 16px;
            resize: none;
            transition: 125ms all ease-in-out;
            &:hover {
                border-left-color: #fa2759;
                border-bottom-color: #fa2759;
                transition: 125ms all ease-in-out;
            }
        }
    }

    h2 {
        color: #2dfcd8;
    }
    a {
        color: #2dfcd8;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-contact {
    width: 700px;
    text-align: end;
    
    button{
        transition: 125ms all ease-in-out;
        &:hover{
            transition: 125ms all ease-in-out;
        }
    }
}

@media only screen and (max-width: 800px){
    .contact-me-bg{
        padding: 0;
        height: auto;
        p {
            font-size: 14px;
            padding: 0 20px;
        }
        label{
            padding: 10px 0;
        }
        input{
            padding-left: 10px;
            font-size: 14px;
        }
        form{
            width: calc(100vw - 40px);
        }
        button{
            padding: 20px 60px;
            margin: 20px 0 60px 0;
        }
    }
    .btn-contact{
        width: auto;
    }
}
