<div id="mySkills" class="mySkills-container">
    <!-- {{mySkills}}="My Skills" -->
    <h2>My Skills</h2> 
    <div class="skills-rows">
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/java script.png"></div>
            <div class="mySkills-div">
                <p>Java script</p>
            </div>
        </div>
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/angular.png"></div>
            <div class="mySkills-div">
                <p>Angular</p>
            </div>
        </div>
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/Group 205.png"></div>
            <div class="mySkills-div">
                <p>HTML/CSS</p>
            </div>
        </div>
    </div>
    <div class="skills-rows">
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/Group 226.png"></div>
            <div class="mySkills-div">
                <p>SCRUM</p>
            </div>
        </div>
        
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/woocommerce.png"></div>
            <div class="mySkills-div">
                <p>Woocommerce</p>
            </div>
        </div>
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/wordpress.png"></div>
            <div class="mySkills-div">
                <p>Wordpress</p>
            </div>
        </div>
    </div>
    <div class="skills-rows">
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/icons8-rest-api-80 2.png"></div>
            <div class="mySkills-div">
                <p>Rest API</p>
            </div>
        </div>
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/Git-Icon-1788C 2.png"></div>
            <div class="mySkills-div">
                <p>Git</p>
            </div>
        </div>
        <div class="mySkills">
            <div class="mySkills-img-container"><img src="assets/img/icons8-database-52 2.png"></div>
            <div class="mySkills-div">
                <p>Databases</p>
            </div>
        </div>
    </div>

</div>