body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 36px;
    text-align: center;
    color: white;
}
p{
    font-size: 18px;
}
.primary{
    color: #fa2759!important;
}
.secondary{
    color: #2DFCD8;
}
.grey{
    color: #1a1a1a;
}
.black{
    color: #000000;
}
.btn-secondary {
    padding: 30px 90px;
    background-color: transparent;
    color: #2dfcd8;
    font-size: 24px;
    margin-top: 30px;
    border: 2px solid #2dfcd8;

    &:hover {
        color: white;
        background-color: #2dfcd8;
    }
}
.btn-primary {
    padding: 30px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin-top: 30px;
    border: 2px solid #fa2759;
    width: 200px;
    margin: 50px 5px;

    &:hover {
        color: black;
        background-color: #fa2759;
    }
}