body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 36px;
    text-align: center;
    color: white;
}
p{
    font-size: 18px;
}
.primary{
    color: #fa2759!important;
}
.secondary{
    color: #2DFCD8;
}
.grey{
    color: #1a1a1a;
}
.black{
    color: #000000;
}